p{
    background-color: purple; /* IPE */
    background-color: cyan; /* Pro */
    background-color: blueviolet; /* BBDD */
    background-color: greenyellow; /* SI */
    background-color: purple; /* LM */
    background-color: cyan; /* Pro */
    background-color: cyan; /* Pro 2*/
    background-color: yellow; /* Optativa 1 */
    background-color: greenyellow; /* SI */
    background-color: yellow; /* Optativa 1 */
    background-color: grey;
    background-color: blueviolet; /* BBDD */
}